# Example template file for submitting models to a cluster
# From https://github.com/mschubert/clustermq/wiki/SGE
#$ -N {{ job_name }}               # job name
#$ -t 1-{{ n_jobs }}               # submit jobs as array
#$ -j y                            # combine stdout/error in one file
#$ -o {{ log_file | /dev/null }}   # output file
#$ -cwd                            # use pwd as work dir
#$ -V                              # use environment variable
#$ -pe smp 1                       # use 1 CPU core per job
#$ -l gpu=1 -l m_mem_free=8G       # request a GPU and 8G CPU memory
# module load R                    # uncomment if R is an environment module
# module load python               # might be necessary to load Python's keras and tensorflow
CMQ_AUTH={{ auth }} R --no-save --no-restore -e 'clustermq:::worker("{{ master }}")'
